<%= render "shared/page_title", title: "All recipes" %>

<div align="center">
  <%= will_paginate %>
</div>
<%= render "recipes/recipe", obj: @recipes %>
<div align="center">
  <%= will_paginate %>
</div>
