<div class="center jumbotron-chad">
  <h1 class="text-center textie">The Healthiest Cuisine In The World?</h1>
</div>
<br />
<div class= "col-md-8 col-md-offset-2">
  <h2>Chad</h2>
  <br />
  <p class="pages-text">Chad, and other African countries, is among some of the healthiest countries diet-wise. 
  The market is a focal point of society, meaning that much of their food is fresh, 
  free from preservatives and any unnecessary saturated fats and salt that is common in pre-packaged meals.
  A national dish of the county is boule, a thick porridge which is prepared with grains such as maize, 
  millet and sorghum. Fortunately as well, the local produced okra, dried pimento, guava, mangoes, 
  cassava, mutton, goat and fish are all rich in vital nutrients and can be seen as having some 
  similarities to the Paleo Diet.</p>
  
</div>