<div class="center jumbotron">
  <h1 class="text-center">Welcome to My Recipes</h1>
  <h2 class="text-center">The preferred recipie sharing app</h2>
  <p class="text-center"><%= link_to "Sign up or Log in", "#", class: "btn btn-danger btn-lg" %></p>
</div>