<div class="center jumbotron">
  <h1 class="text-center">Welcome to My Recipes</h1>
  <h2 class="text-center">The preferred recipie sharing app</h2><br />
  <p class="text-center"><%= link_to "Sign Up", signup_path, class: "btn btn-danger btn-lg nice_green" %></p>
</div>

<div class="row">
  <div class="col-lg-4">
    <h2>Secret to Healthy Eating</h2>
    <p class="text-danger"></p>
    <p>Permanently cutting the daily calories you consume may turn 
       out to have a profound effect on your future life, according to some tantalising scientific studies. </p>
    <p><a class="btn btn-primary nice_green" href="pages/top" role="button">View details &raquo;</a></p>
  </div>
  <div class="col-lg-4">
    <h2>How Healthy are Avocardos?</h2>
    <p>Avocados, which are actually classified as a fruit, are low in fructose and rich in healthy monounsaturated fat 
        and potassium, and research has confirmed the avocado's ability to benefit vascular function and heart health. 
        Avocados also provide close to 20 essential health-boosting nutrients, including fiber, vitamin E, 
        B-vitamins, and folic acid.<p><a class="btn btn-primary nice_green" href="pages/middle" role="button">View details &raquo;</a></p>
   </div>
    <div class="col-lg-4">
      <h2>The Healthiest Cuisine In The World</h2>
      <p><span class="bold-text">Chad</span>, and other African countries, is among some of the healthiest countries diet-wise. The market is a focal point of society, meaning that
         much of their food is fresh, free from preservatives and any unnecessary saturated fats and salt that is common in pre-packaged meals.
         A national dish of the county is boule, a thick porridge which is prepared with grains such as maize, millet and sorghum. 
         <p><a class="btn btn-primary nice_green" href="pages/bottom" role="button">View details &raquo;</a></p>
    </div>
</div>

