<div class="center jumbotron-avo">
  <h1 class="text-center textie">How Healthy are Avocardos?</h1>
</div>
<br />
<div class= "col-md-8 col-md-offset-2">
  <p class="pages-text">Avocados, which are actually classified as a fruit, are low in fructose and rich in healthy 
  monounsaturated fat and potassium, and research has confirmed the avocado's ability to benefit 
  vascular function and heart health. <br />Avocados are also very high in potassium 
  (more than twice the amount found in a banana) and will help balance your vitally 
  important potassium-to-sodium ratio. Avocados also provide close to 20 essential 
  health-boosting nutrients, including fiber, vitamin E, B-vitamins, and folic acid. 
  Besides eating them raw, you can use avocado as a fat substitute in recipes calling for 
  butter or other oils. <br />Another boon of avocados—they're one of the safest fruits you can 
  buy conventionally grown, so you don't need to spend more for organic ones. 
  Their thick skin protects the inner fruit from pesticides.</p>
</div>