<div class="center jumbotron-healthy">
  <h1 class="text-center textie">Secrets to Healthy Eating</h1>
</div>
<br />

<div class= "col-md-10 col-md-offset-1 pages-text">
  <p>1. Eat when you are physically hungry. Listen to your body's signals. 
  Before you eat, stop and ask yourself if you are really hungry or whether you are eating 
  for reasons such as stress, boredom, habit or any others. Keeping an eating diary is a 
  great way to help you determine your eating patterns.</p>
  <p>2. Eat smaller serves. Eating 3 smaller meals with a couple of healthy snacks between is a much 
  better way to stay satisfied longer and keep your metabolism working efficiently. 
  Avoid skipping meals where possible as this can lead to overeating later on.</p>
  <p>3. Eat and drink slowly and give yourself a chance to feel satisfied without feeling overfull. 
  It also helps you actually taste the food you are eating and enjoy it.</p>
  <p>4. Eating healthier foods is your choice. Try remembering how much better you feel after eating 
  healthy as against the awful feeling of overeating unhealthy foods. 
  The 80/20 rule is worth keeping in mind (eat healthy 80% of the time and leave the other 20% for 
  those times where you just have to have it!). Have a positive attitude towards food. 
  Rather than thinking of foods as "good or bad" think in terms of "everyday or occasional foods", or "80/20
  foods". This will erase those guilty feelings you have about eating certain things.</p>
  <p>5. Don't multitask while you eat. If you're reading, working or watching TV while you eat, 
  you won't be paying attention to what's going into your mouth- and you won't enjoy it. 
  Chew slowly and enjoy each mouthful.</p>
  <P>6. Listen to your body's cravings. If you're craving something sweet, eat something sweet-just opt 
  for a healthier alternative, or a very small serve of what it is you want. Most importantly 
  don't deprive yourself as this may lead to bingeing later on.</P>
  <p>7. Learn what some of your unhealthy triggers are (eating diary helps here). 
  Once you know what your triggers are, have a list of alternate things to do when that mood strikes.</p>
  <p>8. Keep your fridge and pantry stocked with mostly healthy foods and healthier alternatives 
  that will satisfy your needs. Place baskets of fruit and vegetables in easy reach.</p>
  <p>9. Tell yourself and everyone else that you are eating healthy, not dieting. 
  You'd be amazed at what the word dieting actually does to your mind!</p>
  <p>10. Never starve yourself, especially before going out to eat (or you will eat anything in sight).</p>
</div>