/* Chef Show Page */

.profImage {
  text-align: center;
}

/* Index Page */

.listing {
  list-style-type: none;
  padding-left: 0;
}

.chef-title {
  font-size: 1.25em;
  font-weight: bold;
  //color: #073B15;

}