$navbar-default-bg: #073B15;

@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
  float: left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover {
  color : #fff;
  text-decoration: none;
}

/* Navbar */

.navbar-default .navbar-nav > li > a:hover  {
  color: #fff;
  text-decoration: none;
}

 
.navbar-default .navbar-nav > .active > a:hover 
{
  color: #fff;
  text-decoration: none;
}

.navbar-default .navbar-nav .nice_green_nav {
   background-color: #ADBB26;
   border-color: #073B15;
   color: #fff;
}

/* For Jumbotron */

.jumbotron {
  background-image: asset-url("cover.png");
  background-size: cover;
  height: 400px;
}

.jumbotron h1 {
  color: #fff;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: -1px;
  font-weight: bold;
}

.jumbotron h2 {
  color: #fff;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: -1px;
  font-weight: bold;
}

/* Home Page */
.bold-text {
  font-weight: bold;
}

/* Buttons */
.nice_green {
  background-color : #073B15;
  border-color: #073B15;
}


.nice_green:hover {
  background-color: #ADBB26;
  border-color: #ADBB26;
  text-decoration: none;
}

/* On Show Page */

.recipe-actions {
  padding-top: 5px;
  a {
    color: #fff !important;
  }
}



.white_font {
  color: white !important;
}

/* Footer Section */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #073B15;
  padding-left: 10px;
  padding-right: 10px;
}


footer a {
  color: #073B15;
}

footer a:hover {
  color: #073B15;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}

// Show Page

.description {
  margin-top: 0;
}

// links in show page

.well a {
  text-decoration: none;
  color:  #073B15;
}

.well a:hover {
  color: #ADBB26 ;
}

// Index page

.chef_info {
  margin-top: 10px;
}