$navbar-default-bg: #073B15;

@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
  float: left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover {
  color : #fff;
  text-decoration: none;
}

/* Navbar */

.navbar-default .navbar-nav > li > a:hover  {
  color: #fff;
  text-decoration: none;
}

 
.navbar-default .navbar-nav > .active > a:hover 
{
  color: #fff;
  text-decoration: none;
}

/* For Jumbotron */

.jumbotron {
  background-image: asset-url("cover.png");
  background-size: cover;
  height: 400px;
}

.jumbotron h1 {
  color: #fff;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: -1px;
  font-weight: bold;
}

.jumbotron h2 {
  color: #fff;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: -1px;
  font-weight: bold;
}

.hm_btn {
  background-color : #073B15;
  border-color: #073B15;
}

.hm_btn:hover {
  background-color: #ADBB26;
  border-color: #ADBB26;
  text-decoration: none;
}

/* Footer Section */

.footer {
  color: #073B15;
  margin-top: 150px;
}